
@model CarListUsingModel.Models.Car
@{
    Layout = null;
    //ViewBag.carID = "Value";
    //ViewBag.carBrand = "Value";
    //ViewBag.carModel = "Value";
    //ViewBag.carDescription = "Value";
    //ViewBag.carPrice = "Value";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/svg" href="~/Content/icons/money-svgrepo-com.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>Payroll System</title>
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <header>
        <div class="header-nav">
            <h3>Car Enthusiast Website</h3>
            <ul>
                <li>@Html.ActionLink("List of Cars", "Lists", "Cars", new { area = "" }, new { @class = "" })</li>
                <li>|</li>
                <li>@Html.ActionLink("Add a Car", "Details", "Cars", new { area = "" }, new { @class = "" })</li>
            </ul>
        </div>
    </header>
    <div class="main">
        <div class="form-canva">
            <div class="form">
                <h1>Discaya's Luxurious Cars</h1>
                <div class="payroll-information-canva">
                    <div class="payroll-information-left">
                        <div class="personal-information">
        
                                <h3>Add Car</h3>
                                @using (Html.BeginForm())
                                {
                                        <span><label>Car ID: </label>@Html.TextBoxFor(x => x.carID)<span></span></span>
                                        <span><label>Car Brand: </label>@Html.TextBoxFor(x => x.carBrand)<span></span></span>
                                        <span><label>Car Model: </label>@Html.TextBoxFor(x => x.carModel)<span></span></span>
                                        <span><label>Car Description: </label>@Html.TextAreaFor(x => x.carDescription)<span></span></span>
                                        <span><label>Car Price (PHP): </label>@Html.TextBoxFor(x => x.carPrice)<span></span></span>
                                            <br />
                                        <div class="buttons">
                                            <button type="submit" class="save-btn">Save</button>
                                            <button type="reset" class="cancel-btn" onclick="resetButton()">Cancel</button>
                                        </div>
                                }
 
                        </div>
                    </div>
                    <div class="payroll-information-right">
                        <div class="details-informations">
                            <h3>Details</h3>
                            <label><strong>Car ID: </strong><span>@ViewBag.carID</span></label>
                            <label><strong>Car Brand: </strong><span>@ViewBag.carBrand</span></label>
                            <label><strong>Car Model: </strong><span>@ViewBag.carModel</span></label>
                            <label><strong>Car Description: </strong><span>@ViewBag.carDescription</span></label>
                            <label><strong>Car Price(PHP): </strong><span>@ViewBag.carPrice</span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function resetButton() {
            const spanDetails = document.querySelectorAll('.details-informations span');
            spanDetails.forEach(span => {
                span.textContent = "Value";
            });

            const spanSalary = document.querySelectorAll('.salary-computation span');
            spanSalary.forEach(span => {
                span.textContent = "0";
            })
        }
    </script>
</body>
</html>
